[Unit]
Description=Ubuntu automated updates.

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/apt-get full-upgrade -y {% if reboot is defined and reboot == 'true' %}&& /sbin/reboot{% endif %}

[Install]
WantedBy=multi-user.target
