#!/bin/bash

# delete PID if it already exists.
if [ -f /var/run/openvpn.pid ]; then
  echo "Cleaning up old server.pid file..."
  rm /var/run/openvpn.pid
fi

# build SSL certificates if they don't already exist.
if [ ! -f /etc/openvpn/keys/index.txt ]; then
  echo "OpenVPN keys directory missing.  Creating..."
  cd /etc/openvpn
  source ./vars
  ./clean-all
  chmod go-rwx /etc/openvpn/keys
  touch /etc/openvpn/keys/index.txt
  echo 01 > /etc/openvpn/keys/serial
  /etc/openvpn/build-ca-automated
  /etc/openvpn/build-key-server-automated openvpn
  /etc/openvpn/build-key-automated user
  openssl dhparam -out /etc/openvpn/keys/dh2048.pem 2048
fi

# configure iptables
INTERFACE=eth0
iptables -t nat -I POSTROUTING -o $INTERFACE -j MASQUERADE

# launch OpenVPN
echo "Starting OpenVPN..."
exec /usr/sbin/openvpn --writepid /var/run/openvpn.pid --cd /etc/openvpn/ --config server.conf --log /var/log/openvpn/openvpn.log
