dev tun
persist-tun
persist-key
cipher AES-128-CBC
auth SHA1
tls-client
client
resolv-retry infinite
remote {{ openvpn_remote }} 1194 udp
lport 0
verify-x509-name openvpn name
#auth-user-pass
comp-lzo
verb 3
#ns-cert-type server

<ca>
{{ openvpn_ca.stdout }}
</ca>
<cert>
{{ openvpn_user_crt.stdout }}
</cert>
<key>
{{ openvpn_user_key.stdout }}
</key>
