dev tun
persist-tun
persist-key
cipher AES-128-CBC
auth SHA1
tls-client
client
resolv-retry infinite
remote {{ openvpn_remote }} 1194 udp
{% if split_tunnel is defined %}
route-nopull
route {{ ansible_ec2_local_ipv4.split('.')[0] }}.{{ ansible_ec2_local_ipv4.split('.')[1] }}.0.0 255.255.0.0
dhcp-option DNS {{ ansible_ec2_local_ipv4.split('.')[0] }}.{{ ansible_ec2_local_ipv4.split('.')[1] }}.0.2
{% endif %}
lport 0
verify-x509-name openvpn name
#auth-user-pass
comp-lzo
verb 3
#ns-cert-type server

<ca>
{{ openvpn_ca.stdout }}
</ca>
<cert>
{{ openvpn_user_crt.stdout }}
</cert>
<key>
{{ openvpn_user_key.stdout }}
</key>

