apiVersion: v1
clusters:
- cluster:
    certificate-authority: /var/lib/kubelet/ssl/controller-ca.pem
    server: https://{{ groups['controller'][0] }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: default
- context:
    cluster: kubernetes
    user: system:node
  name: kubelet
current-context: default
kind: Config
preferences: {}
users:
- name: kubelet
  user:
  client-certificate: /var/lib/kubernetes/ssl/{{ inventory_hostname }}.pem
  client-key: /var/lib/kubernetes/ssl/{{ inventory_hostname }}-key.pem
