Description=Kubernetes Kube Proxy - {{ kubernetes_version }}
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/sbin/kube-proxy \
  --master=https://{{ groups['controller'][0] }}:6443 \
  --kubeconfig=/var/lib/kubelet/kube-proxy.kubeconfig \
  --proxy-mode=iptables
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
