+++
date = "2017-03-09T16:56:33Z"
title = "Inventory"
draft = false
chapter = true
weight = 0
icon = "<b>1. </b>"
tags = [ "Inventory", "index" ]
+++
### Inventory

# List of Instances

{% for each in ec2_facts.instances %}
- [{{ each.tags.Name }}]({{ each.tags.Name }}/)
{% endfor %}
