{
  "CN": "service-account-key",
  "hosts": [
    "{{ env }}-account-key",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "NY",
      "O": "DevOps",
      "ST": "New York",
      "OU": "service-account"
    }
  ]
}
