{
    "CN": "{{ item }}-kubernetes",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "US",
            "L": "NY",
            "O": "DevOps",
            "ST": "New York",
            "OU": "CA"
        }
    ]
}
