{
  "CN": "system:kube-proxy",
  "hosts": [],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "NY",
      "O": "system:node-proxier",
      "ST": "New York",
      "OU": "Cluster"
    }
  ]
}
