{
  "CN": "kubernetes",
  "hosts": [
    "{{ controller_dns }}",
    "{{ service_cluster_ip_range.split('.')[0] }}.{{ service_cluster_ip_range.split('.')[1] }}.{{ service_cluster_ip_range.split('.')[2] }}.1",
    "kubernetes.default",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "NY",
      "O": "Kubernetes",
      "ST": "New York",
      "OU": "Cluster"
    }
  ]
}
